[submodule "Sources/ThirdParty/ImGuiFileDialog"]
	path = Sources/ThirdParty/ImGuiFileDialog
	branch = Lib_Only
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "Sources/ThirdParty/EnTT"]
	path = Sources/ThirdParty/EnTT
	branch = master
	url = https://github.com/skypjack/entt.git
[submodule "Sources/ThirdParty/Render/Vulkan/VulkanMemoryAllocator"]
	path = Sources/ThirdParty/Render/Vulkan/VulkanMemoryAllocator
	branch = master
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Sources/ThirdParty/ImGui"]
	path = Sources/ThirdParty/ImGui
	branch = docking
	url = https://github.com/ocornut/imgui.git
[submodule "Sources/ThirdParty/Render/DX12/D3D12MemoryAllocator"]
	path = Sources/ThirdParty/Render/DX12/D3D12MemoryAllocator
	branch = master
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "Sources/ThirdParty/Render/Vulkan/Volk"]
	path = Sources/ThirdParty/Render/Vulkan/Volk
	url = https://github.com/zeux/volk.git
[submodule "Sources\\ThirdParty\\Json"]
	path = Sources\\ThirdParty\\Json
	url = https://github.com/nlohmann/json.git
[submodule "Sources\\ThirdParty\\Spdlog"]
	path = Sources\\ThirdParty\\Spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Sources/ThirdParty/Optick"]
	path = Sources/ThirdParty/Optick
	url = https://github.com/bombomby/optick.git
[submodule "Sources/ThirdParty/EnkiTS"]
	path = Sources/ThirdParty/EnkiTS
	url = https://github.com/dougbinks/enkiTS.git
